/* reset css */
html, body, p, h1, h2, h3, h4, h5, h6,
ul, li, ol, dl, dd, dt,
form, fieldset, legend, img {
    margin  : 0;
    padding : 0;
}
section, article, nav, header, footer { display : block; }
address, caption, cite, code, dfn, th, var,i,em {
    font-style  : normal;
    font-weight : normal;
}
table,tr,td{
  padding: 0;
}
em, i { font-weight : normal; }
table         { border-collapse : collapse;  border-spacing: 0;}
fieldset, img { border : none; }
ul, ol        { list-style : none; }
select, input { vertical-align : middle; outline : none; }
h1, h2, h3, h4, h5, strong, em { font-weight : normal; }
h1,h2{font-size: 1.5em;}
h3{font-size: 1.17em;}
h4,h5,h6{font-size: 1em;}
select, input, textarea {
    font-size   : 100%;
    margin      : 0;
    padding     : 0;
    outline     : none;
    font-family : arial, sans-serif;
}
textarea {
    resize   : none;
    overflow : auto;
    word-break : break-all;
    word-wrap  : break-word;
}
body {
    color : #000;
    font: 14px/20px arial,STHeiti,simsun,sans-serif;
    overflow-x: hidden;
}

a:link, a:visited , a:hover , a:active {
  text-decoration: none;
  color: inherit;
}

a:focus {
    outline : none;
}
a {
  color: inherit;
  *color: #909090;
}
.clearfix {
    *zoom : 1;
}
.clearfix::after {
    content : ' ';
    display : block;
    clear   : both;
    height  : 0;
}
.fr {float:right;}
.fl {float:left;}

/* loading css */
.lpn-mask{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 999999;
  text-align : center;
  white-space: nowrap;
  background: rgba(0,0,0,0.3);
  _position : absolute;
  _top  : expression( ( ignoreMe  = document.documentElement.scrollTop  ) + 'px' );
  _left : expression( ( ignoreMe2 = document.documentElement.scrollLeft ) + 'px' );
}
span.lpn-ghost {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.lpn-panel {
  display: inline-block;
  vertical-align: middle;
  padding: 4px;
  border-radius: 4px;
  white-space: normal;
}
.lpn-content{
  display: inline-block;
}
#loading-mask{
  background : #dfdfdf url('../images/loading-bg.png') no-repeat center center;
    background-size:100% 100%;
}
#loading-mask .lpn-panel{
  background: white;
  padding: 90px 0;
  width: 100%;
}
.process-wrap{
  height: 2px;
  background: #aaa;
}
#process-bar{
  height:2px;font-size:0px;line-height:0px;background:red;
  width:0;
}
#process-num{
  color: red;
  text-align: center;
}

/* login panel */
.login-panel .lpn-content{
  width: 639px;
  height: 229px;
  background: url(../images/login-bg.png) no-repeat;
}
.login-form{
  width: 435px;
  margin: 0 auto;
  margin-top: 25px;
  padding-top: 35px;
  font-size: 18px;
  color: #9D9D9D;
  font-family: 黑体;
}
.login-form label{
  float: left;
}
.login-form input{
  border: none;
  width: 137px;
  padding: 0 10px;
  color: white;
  line-height: 31px;
  height: 31px;
  margin-left: 7px;
  background: url(../images/board-bgs1.png) no-repeat 0 -156px;
}
.login-form span{
  font-family: songti;
  font-size: 12px;
  margin-left: 24px;
}

/*---> main bg  */
.main-bg .bg{
  position: absolute;
  bottom: 236px;
}
.main-bg .road{
  background: url(../images/road-1.png);
  width: 200%;
}
.main-bg .road , .main-bg #can-road{
  height: 256px;
  position: absolute;
  bottom: 0;
}
/*---> main logo  */
.main-logo{
  position: absolute;
  z-index: 99999;
  top: 17px;
  left: 0;
}
.main-com-logo{
  position: absolute;
  z-index: 99999;
  top: 17px;
  right: 15px;
}
/*---> */

.main-board{
  width: 686px;
  height: 102px;
  position: absolute;
  z-index: 19999;
  bottom: 45px;
  left: 50%;
  margin-left: -343px;
  color: #999;
}
.main-board-con{
  background: url('../images/p-bg-l.png') no-repeat;
  height: 102px;
}
.main-board-bg-r{
  position: absolute;
  z-index: -1;
  right: 10px;
  top: 0;
}
.main-board .board-l{
  position: absolute;
  width: 130px;
  height: 70px;
  top: 17px;
  left: 44px;
  font-size: 80px;
  line-height: 80px;
  color: white;
}
.main-board .board-time{
  color: white;
  font-size: 24px;
  position: absolute;
  left: 187px;
  font-style: italic;
  top: 26px;
}
.main-board .board-m-t{
  position: absolute;
  left: 279px;
  top: 20px;
  width: 267px;
  height: 25px;
}
.main-board .board-m-t .b-bar0,
.main-board .board-m-t .b-bar1,
.main-board .board-m-t .b-bar2,
.main-board .board-m-t .b-bar3{
  height: 3px;
  width: 88%;
  top: 50%;
  position: absolute;
  margin-top: -2px;
  left: 6%;
  background: url(../images/carbar.png) no-repeat;
}
.main-board .board-m-t .b-bar1{
  background-position: 0 -3px;
}
.main-board .board-m-t .b-bar2{
  background-position: 0 -6px;
}
.main-board .board-m-t .b-bar3{
  background-position: 0 -9px;
}


.main-board .board-m-t .b-car,
.main-board .board-m-t .b-robot
{
  display: none;
  width: 9px;
  height: 11px;
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -5px;
}

.main-board .board-m-b{
  position: absolute;
  left: 269px;
  top: 53px;
  width: 267px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}
.main-board .board-m-b a{
  margin: 0 8px;
  font-size: 12px;
}

.main-board .board-r{
  position: absolute;
  height: 57px;
  top: 22px;
  width: 84px;
  right: 54px;
  line-height: 90px;
  text-indent: 1.5em;
  cursor: pointer;
  background: url(../images/share.png) no-repeat 38px -71px;;
}
.main-board .board-share{
  display: none;
  position: absolute;
  height: 57px;
  top: 22px;
  width: 144px;
  right: -23px;
}
.main-board .board-share a{
  float: left;
  width: 36px;
  background: url(../images/share.png) no-repeat;
  height: 30px;
  margin: 0 6px;
}
.main-board .board-share a.sina{
  background-position: 4px 5px;
}
.main-board .board-share a.qzone{
  background-position: -46px 5px;
}
.main-board .board-share a.kaixing{
  background-position: -99px 5px;
}
.main-board .board-share a.qqwb{
  background-position: 3px -26px;
}
.main-board .board-share a.renren{
  background-position: -46px -26px;
}
.main-board .board-share a.tt{
  background-position: -99px -26px;
}
.main-bottom{
  position: absolute;
  bottom: 13px;
  font-size: 11px;
  color: #C2C2C2;
  left: 20px;
}
.main-cars .car{
  position: absolute;
  z-index: 9999;
  display: none;
  bottom: 0;
  right: 100%;
}

.main-cars .car .front-wheel,
.main-cars .car .end-wheel{
  background: url(../images/wheel.png) no-repeat;
  position: absolute;
  height: 94px;
  width: 94px;
  top: 116px;
  left: 201px;
}
.main-cars .car .front-wheel{
  top: 117px;
  left: 635px;
}

/* for pause car */
.main-cars .wheelblur .front-wheel,
.main-cars .wheelblur .end-wheel{
  background-position: -117px 0;
}
/*  main -metas */
@-webkit-keyframes shake{
    0% {
        margin-left: 0px;
        opacity: 1;
    }
    25%{
        margin-left: -100px;
        opacity: 0.5;
    }
    75%{
        margin-left: 100px;
        opacity: 0.5;
    }
    100%{
        margin-left: 0px;
    }
}
.main-metas{
  position: absolute;
  width: 500px;
  z-index: 9999;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -112px;
  text-align: center;
}
.main-metas .start{
  cursor: pointer;
}
.main-metas .counter{
  display: none;
  margin-top: -40px;
}
.main-metas .c-mouse{
  margin-top: -25px;
}
.shake {
            -webkit-animation-name: shake;
        -webkit-animation-duration: 0.2s;
 -webkit-animation-iteration-count: 4;
 -webkit-animation-timing-function: linear;
        -moz-animation-name: shake;
        -moz-animation-duration: 0.2s;
 -moz-animation-iteration-count: 4;
 -moz-animation-timing-function: linear;
        -ms-animation-name: shake;
        -ms-animation-duration: 0.2s;
 -ms-animation-iteration-count: 4;
 -ms-animation-timing-function: linear;
        -o-animation-name: shake;
        -o-animation-duration: 0.2s;
 -o-animation-iteration-count: 4;
 -o-animation-timing-function: linear;
}
.main-metas .num{
  display: none;
  position: absolute;
  top: -11px;
  left: 242px;
}




.video-mask{
  background: rgba( 0 , 0 , 0 , 0.3 );
  z-index: 999998;
}
.video-wrap{
  width: 775px;
  height: 460px;
  margin-top: -40px;
  background: url(../images/video-bg.png) no-repeat;
}
.video-wrap video{
  width: 720px;
  background: black;
  height: 405px;
  margin-top: 27px;
}
.video-skip{
  color: white;
  width: 99px;
  height: 34px;
  line-height: 34px;
  background: url(../images/skip-bg.png) no-repeat;
  margin-top: -18px;
  clear: both;
  float: right;
  margin-right: 21px;
  cursor: pointer;
}

.result{
  width: 1161px;
  height:458px;
  background: url(../images/result-panel.png) no-repeat;
  position: relative;
}
.result .r-time1{
    position: absolute;
    width: 86px;
    height: 41px;
    top: 147px;
    left: 254px;
}
.result .r-time2{
    position: absolute;
    width: 86px;
    height: 41px;
    top: 147px;
    left: 362px;
}
.result .r-time3{
    position: absolute;
    width: 86px;
    height: 41px;
    top: 147px;
    left: 468px;
}
.result .r-distance {
    position: absolute;
    width: 162px;
    height: 41px;
    top: 207px;
    left: 370px;
}
.result .r-share{
  position: absolute;
  width: 372px;
  height: 41px;
  top: 274px;
  left: 178px;
}
.result .r-close{
  position: absolute;
  height: 40px;
  width: 66px;
  right: 102px;
  top: 396px;
  cursor: pointer;
}
.result .r-list{
  position: absolute;
  top: 83px;
  left: 633px;
  width: 300px;
  height: 231px;
  overflow: hidden;
  line-height: 23px;
}
.result .r-list table{
  width: 100%;
  color: white;
}
.result .r-list tr:nth-child(1),
.result .r-list tr:nth-child(2),
.result .r-list tr:nth-child(3){
  color: red;
}
.result .r-slider{
  position: absolute;
  width: 13px;
  height: 26px;
  background: #727272;
  top: 79px;
  right: 191px;
  cursor: ns-resize;
}
.result .r-slider hr:first-child{
  margin-top: 8px;
}
.result .r-slider hr{
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #000;
  margin: 2px 2px;
}

.speed00,
.speed01,
.speed02,
.speed03,
.speed04,
.speed05,
.speed06,
.speed07,
.speed08,
.speed09,
.speed10,
.speed11,
.speed12,
.speed13,
.speed14,
.speed15,
.speed16,
.speed17,
.speed18,
.speed19,
.speed20,
.speed21,
.speed22,
.speed23,
.speed24,
.speed25,
.speed26,
.speed27,
.speed28,
.speed29{
  background: url(../images/number.png) no-repeat;
  display: inline-block;
  width: 45px;
  height: 63px;
  margin-right: -3px;
  background-position: 3px 0;
}
.speed01{
  background-position: -70px 0px;
}
.speed02{
  background-position: -140px 0px;
}
.speed03{
  background-position: -210px 0px;
}
.speed04{
  background-position: -285px 0px;
}
.speed05{
  background-position: -357px 0px;
}
.speed06{
  background-position: -427px 0px;
}
.speed07{
  background-position: -500px 0px;
}
.speed08{
  background-position: -574px 0px;
}
.speed09{
  background-position: -645px 0px;
}

.speed10{
    background-position: 0 -89px;
}
.speed11{
    background-position: -70px -89px;
}
.speed12{
    background-position: -140px -89px;
}
.speed13{
    background-position: -210px -89px;
}
.speed14{
    background-position: -285px -89px;
}
.speed15{
    background-position: -357px -89px;
}
.speed16{
    background-position: -427px -89px;
}
.speed17{
    background-position: -500px -89px;
}
.speed18{
    background-position: -574px -89px;
}
.speed19{
    background-position: -645px -89px;
}

.speed20{
    background-position: 0 -178px;
}
.speed21{
    background-position: -70px -178px;
}
.speed22{
    background-position: -140px -178px;
}
.speed23{
    background-position: -210px -178px;
}
.speed24{
    background-position: -285px -178px;
}
.speed25{
    background-position: -357px -178px;
}
.speed26{
    background-position: -427px -178px;
}
.speed27{
    background-position: -500px -178px;
}
.speed28{
    background-position: -574px -178px;
}
.speed29{
    background-position: -645px -178px;
}



.time00,
.time01,
.time02,
.time03,
.time04,
.time05,
.time06,
.time07,
.time08,
.time09,
.time10,
.time11,
.time12,
.time13,
.time14,
.time15,
.time16,
.time17,
.time18,
.time19{
    background: url(../images/number_result1.png) no-repeat;
    display: inline-block;
    width: 26px;
    height: 51px;
    background-position: 0 0;
}

.time01{
    background-position: -43px 0px;
}
.time02{
    background-position: -83px 0px;
}
.time03{
    background-position: -124px 0px;
}
.time04{
    background-position: -164px 0px;
}
.time05{
    background-position: -205px 0px;
}
.time06{
    background-position: -245px 0px;
}
.time07{
    background-position: -289px 0px;
}
.time08{
    background-position: -327px 0px;
}
.time09{
    background-position: -370px 0px;
}
.time10{
    background-position: 0 -61px;
}
.time11{
    background-position: -43px -61px;
}
.time12{
    background-position: -83px -61px;
}
.time13{
    background-position: -124px -61px;
}
.time14{
    background-position: -164px -61px;
}
.time15{
    background-position: -205px -61px;
}
.time16{
    background-position: -245px -61px;
}
.time17{
    background-position: -289px -61px;
}
.time18{
    background-position: -327px -61px;
}
.time19{
    background-position: -370px -61px;
}


.distance00,
.distance01,
.distance02,
.distance03,
.distance04,
.distance05,
.distance06,
.distance07,
.distance08,
.distance09,
.distance10,
.distance11,
.distance12,
.distance13,
.distance14,
.distance15,
.distance16,
.distance17,
.distance18,
.distance19,
.distance20,
.distance21,
.distance22,
.distance23,
.distance24,
.distance25,
.distance26,
.distance27,
.distance28,
.distance29,
.distance30,
.distance31,
.distance32,
.distance33,
.distance34,
.distance35,
.distance36,
.distance37,
.distance38,
.distance39,
.distance40,
.distance41,
.distance42,
.distance43,
.distance44,
.distance45,
.distance46,
.distance47,
.distance48,
.distance49,
.distance50,
.distance51,
.distance52,
.distance53,
.distance54,
.distance55,
.distance56,
.distance57,
.distance58,
.distance59,
.distance60,
.distance61,
.distance62,
.distance63,
.distance64,
.distance65,
.distance66,
.distance67,
.distance68,
.distance69
{
    background: url(../images/number_result2.png) no-repeat;
    display: inline-block;
    width: 26px;
    height: 51px;
    background-position: 0 0;
}

.distance01{
    background-position: -43px 0px;
}
.distance02{
    background-position: -83px 0px;
}
.distance03{
    background-position: -124px 0px;
}
.distance04{
    background-position: -164px 0px;
}
.distance05{
    background-position: -205px 0px;
}
.distance06{
    background-position: -245px 0px;
}
.distance07{
    background-position: -289px 0px;
}
.distance08{
    background-position: -327px 0px;
}
.distance09{
    background-position: -370px 0px;
}
.distance10{
     background-position: 0px -61px;
 }
.distance11{
    background-position: -43px -61px;
}
.distance12{
    background-position: -83px -61px;
}
.distance13{
    background-position: -124px -61px;
}
.distance14{
    background-position: -164px -61px;
}
.distance15{
    background-position: -205px -61px;
}
.distance16{
    background-position: -245px -61px;
}
.distance17{
    background-position: -289px -61px;
}
.distance18{
    background-position: -327px -61px;
}
.distance19{
    background-position: -370px -61px;
}

.distance20{
    background-position: 0px -121px;
}
.distance21{
    background-position: -43px -121px;
}
.distance22{
    background-position: -83px -121px;
}
.distance23{
    background-position: -124px -121px;
}
.distance24{
    background-position: -164px -121px;
}
.distance25{
    background-position: -205px -121px;
}
.distance26{
    background-position: -245px -121px;
}
.distance27{
    background-position: -289px -121px;
}
.distance28{
    background-position: -327px -121px;
}
.distance29{
    background-position: -370px -121px;
}

.distance30{
    background-position: 0px -182px;
}
.distance31{
    background-position: -43px -182px;
}
.distance32{
    background-position: -83px -182px;
}
.distance33{
    background-position: -124px -182px;
}
.distance34{
    background-position: -164px -182px;
}
.distance35{
    background-position: -205px -182px;
}
.distance36{
    background-position: -245px -182px;
}
.distance37{
    background-position: -289px -182px;
}
.distance38{
    background-position: -327px -182px;
}
.distance39{
    background-position: -370px -182px;
}

.distance40{
    background-position: 0px -242px;
}
.distance41{
    background-position: -43px -242px;
}
.distance42{
    background-position: -83px -242px;
}
.distance43{
    background-position: -124px -242px;
}
.distance44{
    background-position: -164px -242px;
}
.distance45{
    background-position: -205px -242px;
}
.distance46{
    background-position: -245px -242px;
}
.distance47{
    background-position: -289px -242px;
}
.distance48{
    background-position: -327px -242px;
}
.distance49{
    background-position: -370px -242px;
}

.distance50{
    background-position: 0px -303px;
}
.distance51{
    background-position: -43px -303px;
}
.distance52{
    background-position: -83px -303px;
}
.distance53{
    background-position: -124px -303px;
}
.distance54{
    background-position: -164px -303px;
}
.distance55{
    background-position: -205px -303px;
}
.distance56{
    background-position: -245px -303px;
}
.distance57{
    background-position: -289px -303px;
}
.distance58{
    background-position: -327px -303px;
}
.distance59{
    background-position: -370px -303px;
}
/********add css animate plugin**********/

.css-animate {
  transition:   All 1s ease;
  -webkit-transition:   All 1s ease;
  -moz-transition:  All 1s ease;
  -o-transition:  All 1s ease;
  -ms-transition:  All 1s ease;

   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   -o-transition: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}


/* for button */
.btn{
  display: inline-block;
  cursor: pointer;
}
.btn .btn-pre{
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 36px;
  background: url(../images/board-bgs1.png) no-repeat 0 -58px ;
}
.btn:hover .btn-aft{
  color: white;
}
.btn .btn-aft{
  vertical-align: middle;
  background: url(../images/board-bgs1.png) no-repeat right -58px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-family: 黑体;
  font-size: 20px;
  color: #bbb;
  text-shadow: 1px 1px 2px black;
  padding-right: 20px;
}